JetBrains/*
gatsby/*
Postman/*
gnome-control-center/*
gnome-session/*
gedit/*
balena-etcher-electron/*
Code/*
com.github.babluboy.bookwork/*
exercism/*
gconf/*
geary/*
godot/*
gthumb/*
hexchat/*
htop/*
pamac/*
Pinta/*
kde.org/*
nvim/plugged/*
coc/extensions
